.idea
node_modules
coverage
test.js
.nyc_output/

.DS_Store
/frontend/dist

/frontend/tests/e2e/videos/
/frontend/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

package-lock.json

frontend/package-lock.json
frontend/tests/cypress/screenshots
frontend/tests/cypress/videos